<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
      <strong>I'm <a href="https://jomjose.github.io">Jom Jose</a></strong>, a javascript developer
      who makes the web awesome. You're reading my
      <a href="{{ base }}">Today I learned</a> blog.
      <i class='fleuron'></i>
      Follow me on
      <a href="https://twitter.com/jomjoseblog">Twitter</a> for front-end development snark,
      GitHub for code, and Instagram</a> for calligraphy.
    </p>
    <h3 class='identity'><a href="https://jomjose.github.io">@jomjoseblog</a></h3>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='/'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
